<div class="animate__animated animate__fadeIn">
  <h2>Por País</h2>
  <hr />
  <div class="row">
    <div class="col">
      <app-pais-input
        (onEnter)="buscar($event)"
        (onDebounce)="sugerencias($event)"
        placeholder="Buscar por país..."
      ></app-pais-input>
    </div>
  </div>
  <ul *ngIf="mostrarSugerencias" class="list-group">
    <!--<li (click)="buscarSugerido(termino)"-->
    <li class="list-group-item list-group-item-action">
      <a class="nav-link" (click)="buscar(termino)"> Buscar "{{ termino }}" </a>
    </li>
    <li
      *ngFor="let pais of paisSugerido"
      class="list-group-item list-group-item-action"
    >
      <a [routerLink]="['/pais', pais.cca2]" class="nav-link">
        {{ pais.name.common }}
      </a>
    </li>
  </ul>
</div>
<hr />

<div *ngIf="hayError" class="alert alert-danger">
  No se encontró nada con el término
</div>

<div *ngIf="paises.length > 0" class="row">
  <div class="col">
    <app-pais-tabla [paises]="paises"></app-pais-tabla>
  </div>
</div>
